<nav id="nav" class="nav nav-tabs" >


  <div class="dropdown" name="nav2" style="display: none;">
    <i class="bi bi-list dropdown-toggle hamburg1"  type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></i>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#top">Top</a></li>
      <li><a class="dropdown-item" href="#work">Work</a></li>
      <li><a class="dropdown-item" href="#resume">Resume</a></li>
      <li><a class="dropdown-item" href="#tech">Tech</a></li>
      <li><a class="dropdown-item" href="#contact">Contact</a></li>
    </ul>
  </div>


    <ul class="container" name="nav1">
      <li><a href="#top" onclick="overlayOff();">Top</a></li>
      <li><a href="#work" onclick="overlayOff();">Work</a></li>
      <li><a href="#resume" onclick="overlayOff();">Resume</a></li>
      <li><a href="#tech" onclick="overlayOff();">Tech</a></li>
      <li><a href="#contact" onclick="overlayOff();">Contact</a></li>
    </ul>






  </nav>

