<!-- Work -->
<article id="work" class="wrapper style2">
    <div class="container">
        <header>
            <h2>Here's what I do.</h2>
            <p>Build and design software using various tech stacks, while also leading tech teams both  big and small in adopting Scrum and Agile Methologies .</p>
        </header>
        <div class="row aln-center">
            <div class="col-4 col-6-medium col-12-small">
                <section class="box style1">
                    <i class="bi bi-laptop customIconDev"></i>
                    <h3>Front-end</h3>
                    <p>Design frontend systems using tech stacks such as but not limited to <strong> HTML, Angular, Javascript, Typescript, CSS, Json</strong> and whaterver else needed to get the job done with high quality and integrity. Deploy systems using <strong>Docker</strong>, <strong>Aws</strong> and legacy servers.</p>
                </section>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <section class="box style1">
                    <!--<span class="icon solid featured fa-camera-retro"></span>-->
                    <i class="bi bi-gear customIconDev"></i>
                    <h3>Back-end</h3>
                    <p>Design backend systems, Rest Api's and databases using tech stacks such as but not limited to <strong>Java, SpringBoot, PHP, MSQL, Mondo DB</strong> and whaterver else needed to get the job done with high quality and integrity. Deploy systems using <strong>Docker</strong>, <strong>Aws</strong> and legacy servers. </p>
                </section>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <section class="box style1">
                    <!--<span class="icon featured fa-thumbs-up"></span>-->
                    <i class="bi bi-people customIconDev"></i>
                    <h3>Scrum Master</h3>
                    <p>Help teams establish and follow <strong>Agile</strong> practices by acting as a servant leader. Lead <strong>Daily Standups</strong>, <strong>Sprint Planning</strong>, <strong>Retrospectives</strong>, <strong>Backlog Refinement</strong> and more. Adopting <strong>Scrum</strong> will help your team become self managing. Help team reach a dod (Definition of Done).</p>
                </section>
            </div>
        </div>
        <footer>
            <p>Need a leader and team player?</p>
            <a href="#portfolio" class="button large scrolly">See some of my recent work</a>
        </footer>
    </div>
</article>