<!-- Portfolio -->
<article id="portfolio" class="wrapper style3">
    <div class="container">
        <header>
            <h2>Here’s some of the past projects I have worked on.</h2>
            <p>These are just a few of the types of projects that I have helped lead, desgin, build and deliever.</p>
        </header>
        <div class="row">
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="../../portfolio2/assets/images/pic01.png" alt="" /></a>
                    <h3><a href="#">Agent Life CRM</a></h3>
                    <p>Used Angular to design front end and Java...</p>
                    <button type="button" onclick="loadSlide(); overlayOn();">Read more...</button>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="../../portfolio2/assets/images/pic02.png" alt="" /></a>
                    <h3><a href="#">Life Insurance site</a></h3>
                    <p>Life Insurance site that helps agents gather leads...</p>
                    <button type="button" onclick="loadSlide2(); overlayOn(); ">Read more...</button>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="../../portfolio2/assets/images/pic03.png" alt="" /></a>
                    <h3><a href="#">Sneaker Bot App</a></h3>
                    <p>Bot designed to help sneaker heads buy...</p>
                    <button type="button" onclick="loadSlide3(); overlayOn(); ">Read more...</button>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="../../portfolio2/assets/images/pic04.png" alt="" /></a>
                    <h3><a href="#">SEO App</a></h3>
                    <p>Used Java and Data For Seo Api to design software...</p>
                    <button type="button" onclick="loadSlide4(); overlayOn(); ">Read more...</button>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="../../portfolio2/assets/images/pic05.png" alt="" /></a>
                    <h3><a href="#">Nft Creator</a></h3>
                    <p>Used Java to create NFT creation software...</p>
                    <button type="button" onclick="loadSlide5(); overlayOn(); ">Read more...</button>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="../../portfolio2/assets/images/pic06.png" alt="" /></a>
                    <h3><a href="#">Music Manager</a></h3>
                    <p>Music managing site built with Angular, Java, and Spring Boot...</p>
                    <button type="button" onclick="loadSlide6(); overlayOn(); ">Read more...</button>
                </article>
            </div>
        </div>
        <footer>
            <p>Need help with your next and future projects?</p>
            <a href="#contact" class="button large scrolly">Get in touch with me</a>
        </footer>
    </div>
</article>