<main class="main">

<app-header></app-header>

<div id="overlay" onclick="overlayOff()">

</div>

<div id="featoverlay"></div>

<dialog>

  <div id="form1">
  <!--<i class="bi bi-x-circle" onclick="overlayOff()"></i>>-->


     <!--<h2 id="coverTitle">Agent Life CRM</h2>-->



 <a id="prev"onclick="plusSlides(-1);">&#10094;</a>
 <a id="next"onclick="plusSlides(1);">&#10095;</a>

 <div class="dotWrap">
  <div style="text-align:center;">
    <span class="dot" onclick="currentSlide(1),removeDiv()"></span>
    <span class="dot" onclick="currentSlide(2),removeDiv()"></span>
    <span class="dot" onclick="currentSlide(3),removeDiv()"></span>
    <span class="dot" onclick="currentSlide(4),removeDiv()"></span>
    <!--<span class="dot" onclick="currentSlide(5)"></span>-->
    <!--<span class="dot" onclick="currentSlide(6)"></span>-->
     </div>
 </div>


  

  <!--************************Box Wrap to Pop Up Big Image*********************************-->

  <div id="boxWrap">


    <!--<p id="songStat"></p>-->
    <button name="closePic" class="xbutton" style="display:none;"></button>
    <div id="featPic"><p id="alttext"></p><img id="imgBox" style="display:none;" /></div>


  </div>

  

 </div>
</dialog>

<app-home></app-home>

<app-work></app-work>

<app-portfolio></app-portfolio>

<app-resume></app-resume>

<app-stack></app-stack>

<app-contact></app-contact>

<!--<app-footer></app-footer>-->
</main>

<router-outlet />
