/* You can add global styles to this file, and also import other style files */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */


  img, picture, video, canvas, svg {
    /*display: block;
    max-width: 100%;*/
  }


  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  body, html{

    height:auto;

  }

  #site-wrap{



  }


/*****************************************************Overlay Parts*******************/
div#overlay{


	z-index: 996;
	background:#000;
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
  opacity: .9;
	text-align:center;
  visibility: hidden;
 /* display: none;*/



}





dialog{

  width:100%;
  height: auto;
  background-color: white;
  border: none;
  display: flex;
  
  z-index: 996;
  position: fixed;
  top:10%;
  left:0;
  visibility: hidden;
}

dialog::backdrop{
  background-color: #000;
  opacity: 60%;
}



#form1{

    width:100%;
    max-width: 1400px;
    /*max-width: 1200px;*/


    min-height: 700px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.5);
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
  
    border-radius: 2px;
    position: relative;
    background-color: white;
   
}


.slide {
  background: #f1f1f1;
  line-height: 150px;
  text-align: center;
}


.customIconDev{

  font-size: 45px;
  position: relative;
}




.pdf{
  height: 100%;
  margin: 0;
  padding: 0;
}




/**************1024px***************************/
@media (max-width: 1024px) {


  div#overlay{


    z-index: 996;
    background:#000;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    opacity: .9;
    text-align:center;
    visibility: hidden;
   /* display: none;*/
  
  
  
  }
  


  dialog{

  width:100%;
  height: auto;
  background-color: white;
  border: none;
  display: flex;
  top:510;
  
  z-index: 996;
 

  left:0;
  visibility: hidden;
}

dialog::backdrop{
  background-color: #000;
  opacity: 60%;
}



#form1{

    width:100%;
    max-width: 800px;
    /*max-width: 1200px;*/

    
    height:750px !important;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.5);
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
  
    border-radius: 2px;
    position: relative;
    /*background-color: red;*/
   
}



	
}


/**************960px***************************/
@media (max-width: 960px) {

  div#overlay{


    z-index: 996;
    background:#000;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    opacity: .9;
    text-align:center;
    visibility: hidden;
   /* display: none;*/
  
  
  
  }
  


  dialog{

  width:100%;
  height: auto;
  background-color: white;
  border: none;
  display: flex;
  top:5em;
  
  z-index: 996;
  position: fixed;

  left:0;
  visibility: hidden;
}

dialog::backdrop{
  background-color: #000;
  opacity: 60%;
}



#form1{

    width:100%;
    max-width: 775px;
    /*max-width: 1200px;*/

    
    height:775px !important;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.5);
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
  
    border-radius: 2px;
    position: relative;
    /*background-color: red;*/
   
}

}




/**************820px***************************/
@media (max-width: 820px) {


  div#overlay{


    z-index: 996;
    background:#000;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    opacity: .9;
    text-align:center;
    visibility: hidden;
   /* display: none;*/
  
  
  
  }
  


  dialog{

  width:100%;
  height: auto;
  background-color: white;
  border: none;
  display: flex;
  top:510;
  
  z-index: 996;
  position: fixed;

  left:0;
  visibility: hidden;
}

dialog::backdrop{
  background-color: #000;
  opacity: 60%;
}



#form1{

    width:100%;
    max-width: 700px;
    /*max-width: 1200px;*/

    
    height:900px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.5);
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
  
    border-radius: 2px;
    position: relative;
    /*background-color: red;*/
   
}


}


/**************660px***************************/
@media (max-width: 660px) {



  div#overlay{


    z-index: 996;
    background:#000;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    opacity: .9;
    text-align:center;
    visibility: hidden;
   /* display: none;*/
  
  
  
  }
  


  dialog{

  width:100%;
  height: auto;
  background-color: white;
  border: none;
  display: flex;
  top:5em;
  
  z-index: 996;
  position: fixed;

  left:0;
  visibility: hidden;
}

dialog::backdrop{
  background-color: #000;
  opacity: 60%;
}



#form1{

    width:100%;
    max-width: 550px;
    /*max-width: 1200px;*/

    
    height:715px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.5);
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
  
    border-radius: 2px;
    position: relative;
    /*background-color: red;*/
   
}


}








/**************768px***************************/
@media (max-width: 768px) {



  div#overlay{


    z-index: 996;
    background:#000;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    opacity: .9;
    text-align:center;
    visibility: hidden;
   /* display: none;*/
  
  
  
  }
  


  dialog{

  width:100%;
  height: auto;
  background-color: white;
  border: none;
  display: flex;
  top:5em;
  
  z-index: 996;
  position: fixed;

  left:0;
  visibility: hidden;
}

dialog::backdrop{
  background-color: #000;
  opacity: 60%;
}



#form1{

    width:100%;
    max-width: 550px;
    /*max-width: 1200px;*/

    
    height:715px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.5);
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
  
    border-radius: 2px;
    position: relative;
    /*background-color: red;*/
   
}


}





/**************664px***************************/
@media (max-width: 664px) {




  div#overlay{


    z-index: 996;
    background:#000;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    opacity: .9;
    text-align:center;
    visibility: hidden;
   /* display: none;*/
  
  
  
  }
  


  dialog{

  width:100%;
  height: auto;
  background-color: white;
  border: none;
  display: flex;
  top:5em;
  
  z-index: 996;
  position: fixed;

  left:0;
  visibility: hidden;
}

dialog::backdrop{
  background-color: #000;
  opacity: 60%;
}



#form1{

    width:100%;
    max-width: 525px;
    /*max-width: 1200px;*/

    
    height:715px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.5);
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
  
    border-radius: 2px;
    position: relative;
    /*background-color: red;*/
   
}






}



/**************601px***************************/
@media (max-width: 601px) {

  div#overlay{


    z-index: 996;
    background:#000;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    opacity: .9;
    text-align:center;
    visibility: hidden;
   /* display: none;*/
  
  
  
  }
  


  dialog{

  width:100%;
  height: auto;
  background-color: white;
  border: none;
  display: flex;
  top:5em;
  
  z-index: 996;
  position: fixed;

  left:0;
  visibility: hidden;
}

dialog::backdrop{
  background-color: #000;
  opacity: 60%;
}



#form1{

    width:100%;
    max-width: 500px;
    /*max-width: 1200px;*/

    
    height:715px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.5);
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
  
    border-radius: 2px;
    position: relative;
    /*background-color: red;*/
   
}



}







/**************578px***************************/
@media (max-width: 578px) {

  div#overlay{


    z-index: 996;
    background:#000;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    opacity: .9;
    text-align:center;
    visibility: hidden;
   /* display: none;*/
  
  
  
  }
  


  dialog{

  width:100%;
  height: auto;
  background-color: white;
  border: none;
  display: flex;
  top:5em;
  
  z-index: 996;
  position: fixed;

  left:0;
  visibility: hidden;
}

dialog::backdrop{
  background-color: #000;
  opacity: 60%;
}



#form1{

    width:100%;
    max-width: 475px;
    /*max-width: 1200px;*/

    
    height:715px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.5);
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
  
    border-radius: 2px;
    position: relative;
    /*background-color: red;*/
   
}



}






/**************548px***************************/
@media (max-width: 548px) {

  div#overlay{


    z-index: 996;
    background:#000;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    opacity: .9;
    text-align:center;
    visibility: hidden;
   /* display: none;*/
  
  
  
  }
  


  dialog{

  width:100%;
  height: auto;
  background-color: white;
  border: none;
  display: flex;
  top:5em;
  
  z-index: 996;
  position: fixed;

  left:0;
  visibility: hidden;
}

dialog::backdrop{
  background-color: #000;
  opacity: 60%;
}



#form1{

    width:100%;
    max-width: 475px;
    /*max-width: 1200px;*/

    
    height:715px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.5);
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
  
    border-radius: 2px;
    position: relative;
    /*background-color: red;*/
   
}



}







/**************548px***************************/
@media (max-width: 548px) {

  div#overlay{


    z-index: 996;
    background:#000;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    opacity: .9;
    text-align:center;
    visibility: hidden;
   /* display: none;*/
  
  
  
  }
  


  dialog{

  width:100%;
  height: auto;
  background-color: white;
  border: none;
  display: flex;
  top:5em;
  
  z-index: 996;
  position: fixed;

  left:0;
  visibility: hidden;
}

dialog::backdrop{
  background-color: #000;
  opacity: 60%;
}



#form1{

    width:100%;
    max-width: 460px;
    /*max-width: 1200px;*/

    
    max-height:600px !important;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.5);
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
  
    border-radius: 2px;
    position: relative;
    background-color: #fff;
   
}



}








/**************508px***************************/
@media (max-width: 508px) {

  div#overlay{


    z-index: 996;
    background:#000;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    opacity: .9;
    text-align:center;
    visibility: hidden;
   /* display: none;*/
  
  
  
  }
  


  dialog{

  width:100%;
  height: auto;
  background-color: white;
  border: none;
  display: flex;
  top:5em;
  
  z-index: 996;
  position: fixed;

  left:0;
  visibility: hidden;
}

dialog::backdrop{
  background-color: #000;
  opacity: 60%;
}



#form1{

    width:100%;
    max-width: 400px;
    /*max-width: 1200px;*/

    
    height:715px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.5);
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
  
    border-radius: 2px;
    position: relative;
    /*background-color: red;*/
   
}



}






/**************466px***************************/
@media (max-width: 466px) {

  div#overlay{


    z-index: 996;
    background:#000;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    opacity: .9;
    text-align:center;
    visibility: hidden;
   /* display: none;*/
  
  
  
  }
  


  dialog{

  width:100%;
  height: auto;
  background-color: white;
  border: none;
  display: flex;
  top:5em;
  
  z-index: 996;
  position: fixed;

  left:0;
  visibility: hidden;
}

dialog::backdrop{
  background-color: #000;
  opacity: 60%;
}



#form1{

    width:100%;
    max-width: 360px;
    /*max-width: 1200px;*/

    
    height:715px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.5);
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
  
    border-radius: 2px;
    position: relative;
    /*background-color: red;*/
   
}



}


/**************430px***************************/
@media (max-width: 430px) {

  div#overlay{


    z-index: 996;
    background:#000;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    opacity: .9;
    text-align:center;
    visibility: hidden;
   /* display: none;*/
  
  
  
  }
  


  dialog{

  width:100%;
  height: auto;
  background-color: white;
  border: none;
  display: flex;
  top:5em;
  
  z-index: 996;
  position: fixed;

  left:0;
  visibility: hidden;
}

dialog::backdrop{
  background-color: #000;
  opacity: 60%;
}



#form1{

    width:100%;
    max-width:320px;
    /*max-width: 1200px;*/

    
    height:715px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.5);
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
  
    border-radius: 2px;
    position: relative;
    /*background-color: red;*/
   
}



}



	/**************428px***************************/
	@media (max-width: 428px) {}

	/**************414px***************************/
	@media (max-width: 414px) {



    div#overlay{


      z-index: 996;
      background:#000;
      position:fixed;
      width:100%;
      height:100%;
      top:0px;
      left:0px;
      opacity: .9;
      text-align:center;
      visibility: hidden;
     /* display: none;*/
    
    
    
    }
    
  
  
    dialog{
  
    width:100%;
    height: auto;
    background-color: white;
    border: none;
    display: flex;
    top:5em;
    
    z-index: 996;
    position: fixed;
  
    left:0;
    visibility: hidden;
  }
  
  dialog::backdrop{
    background-color: #000;
    opacity: 60%;
  }
  
  
  
  #form1{
  
      width:100%;
      max-width:300px;
      /*max-width: 1200px;*/
  
      
      height:715px;
      margin: auto;
      padding: 20px;
      box-shadow: 0 4px 8px 0 rgb(0,0,0,0.5);
      display: block;
      flex-wrap: wrap;
      justify-content: space-between;
    
      border-radius: 2px;
      position: relative;
      /*background-color: red;*/
     
  }
  



  }

	/**************393px***************************/
	@media (max-width: 393px) {



    div#overlay{


      z-index: 996;
      background:#000;
      position:fixed;
      width:100%;
      height:100%;
      top:0px;
      left:0px;
      opacity: .9;
      text-align:center;
      visibility: hidden;
     /* display: none;*/
    
    
    
    }
    
  
  
    dialog{
  
    width:100%;
    height: auto;
    background-color: white;
    border: none;
    display: flex;
    top:5em;
    
    z-index: 996;
    position: fixed;
  
    left:0;
    visibility: hidden;
  }
  
  dialog::backdrop{
    background-color: #000;
    opacity: 60%;
  }
  
  
  
  #form1{
  
      width:100%;
      min-width:260px;
      /*max-width: 1200px;*/
  
      
      height:auto !important;
      max-height: 850px !important;
      margin: auto;
      padding: 20px;
      box-shadow: 0 4px 8px 0 rgb(0,0,0,0.5);
      display: block;
      flex-wrap: wrap;
      justify-content: space-between;
    
      border-radius: 2px;
      position: relative;
      /*background-color: red;*/
     
  }
  





  }
	/**************390px***************************/
	@media (max-width: 390px) {}
	/**************375px***************************/
    @media (max-width: 375px) {}

	/**************345px***************************/
  @media (max-width: 345px) {


    
    div#overlay{


      z-index: 996;
      background:#000;
      position:fixed;
      width:100%;
      height:100%;
      top:0px;
      left:0px;
      opacity: .9;
      text-align:center;
      visibility: hidden;
     /* display: none;*/
    
    
    
    }
    
  
  
    dialog{
  
    width:100%;
    height: auto;
    background-color: white;
    border: none;
    display: flex;
    top:5em;
    
    z-index: 996;
    position: fixed;
  
    left:0;
    visibility: hidden;
  }
  
  dialog::backdrop{
    background-color: #000;
    opacity: 60%;
  }
  
  
  
  #form1{
  
      width:100%;
      max-width:240px;
      /*max-width: 1200px;*/
  
      
      height:800px;
      margin: auto;
      padding: 20px;
      box-shadow: 0 4px 8px 0 rgb(0,0,0,0.5);
      display: block;
      flex-wrap: wrap;
      justify-content: space-between;
    
      border-radius: 2px;
      position: relative;
      /*background-color: red;*/
     
  }
  



  }
	/**************320px***************************/
  @media (max-width: 320px) {

    
    div#overlay{


      z-index: 996;
      background:#000;
      position:fixed;
      width:100%;
      height:100%;
      top:0px;
      left:0px;
      opacity: .9;
      text-align:center;
      visibility: hidden;
     /* display: none;*/
    
    
    
    }
    
  
  
    dialog{
  
    width:100%;
    height: auto;
    background-color: white;
    border: none;
    display: flex;
    top:5em;
    
    z-index: 996;
    position: fixed;
  
    left:0;
    visibility: hidden;
  }
  
  dialog::backdrop{
    background-color: #000;
    opacity: 60%;
  }
  
  
  
  #form1{
  
      width:100%;
      max-width:220px;
      /*max-width: 1200px;*/
  
      
      height:715px;
      margin: auto;
      padding: 20px;
      box-shadow: 0 4px 8px 0 rgb(0,0,0,0.5);
      display: block;
      flex-wrap: wrap;
      justify-content: space-between;
    
      border-radius: 2px;
      position: relative;
      /*background-color: red;*/
     
  }
  

  }


    

